In [1]:
import pandas as pd 
import numpy as np 
from sklearn.impute import SimpleImputer

In [2]:
df=pd.read_csv('owid-covid-data.csv')

In [3]:
df.head(n=10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [48]:
df['Country'].isnull().sum()

0

In [4]:
df.tail(n=10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
309678,ZWE,Africa,Zimbabwe,2023-05-01,264685.0,2.0,6.571,5686.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309679,ZWE,Africa,Zimbabwe,2023-05-02,264685.0,0.0,6.000,5686.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309680,ZWE,Africa,Zimbabwe,2023-05-03,264685.0,0.0,5.857,5686.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309681,ZWE,Africa,Zimbabwe,2023-05-04,264685.0,0.0,5.429,5686.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309682,ZWE,Africa,Zimbabwe,2023-05-05,264685.0,0.0,3.143,5686.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309683,ZWE,Africa,Zimbabwe,2023-05-06,264685.0,0.0,0.857,5686.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309684,ZWE,Africa,Zimbabwe,2023-05-07,264685.0,0.0,0.286,5686.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309685,ZWE,Africa,Zimbabwe,2023-05-08,264776.0,91.0,13.000,5689.0,3.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309686,ZWE,Africa,Zimbabwe,2023-05-09,264776.0,0.0,13.000,5689.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309687,ZWE,Africa,Zimbabwe,2023-05-10,264776.0,0.0,13.000,5689.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [5]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.736270e+05,3.009060e+05,2.996420e+05,2.529760e+05,301000.000000,299770.000000,273627.000000,300906.000000,299642.000000,252976.000000,...,177556.000000,117527.000000,211831.000000,284789.000000,232608.000000,3.096880e+05,1.066900e+04,10669.000000,10669.000000,10669.000000
mean,5.720062e+06,1.078888e+04,1.083173e+04,8.034578e+04,96.218953,96.588991,87308.498903,162.598372,163.230068,808.012643,...,32.911186,50.792893,3.097498,73.718865,0.722506,1.283129e+08,4.739668e+04,9.538903,12.633550,1477.149682
std,3.574208e+07,1.033029e+05,1.005335e+05,4.152550e+05,602.347508,593.003157,137715.424666,1128.892484,635.983268,1051.355043,...,13.574075,31.956927,2.548552,7.396906,0.148988,6.603560e+08,1.384241e+05,12.914011,26.344219,1840.907839
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-1984.281600
25%,6.514500e+03,0.000000e+00,1.143000e+00,1.210000e+02,0.000000,0.000000,2015.598000,0.000000,0.254000,49.555000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,2.780000e+01,0.560000,-1.200000,24.645111
50%,6.209400e+04,1.700000e+01,3.828600e+01,1.225000e+03,0.000000,0.286000,20502.747000,2.474000,10.811000,336.611500,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,4.530999e+03,7.750000,6.490000,900.418500
75%,6.351960e+05,5.290000e+02,6.352502e+02,1.057925e+04,6.000000,6.714000,106547.621000,69.379500,104.379250,1243.195250,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.159700e+04,15.360000,18.070000,2399.257000
max,7.659025e+08,7.460827e+06,6.410668e+06,6.927365e+06,20028.000000,14680.286000,737554.506000,228872.025000,37241.781000,6466.921000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.282260e+06,76.550000,377.300000,10291.122000

In [6]:
df = df.drop('new_cases_per_million', axis=1)

In [7]:
df = df.drop('total_cases_per_million', axis=1)

In [8]:
df.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [9]:
df = df.rename(columns={'location': 'Country'})

In [10]:
df = df.rename(columns={'date': 'Date'})

In [11]:
 df = df.rename(columns={'continent': 'Continent'})

In [12]:
 df = df.rename(columns={'iso_code': 'ISO_code'})

In [13]:
df.head()

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [14]:
df['Continent'].describe()

count     294965
unique         6
top       Africa
freq       69769
Name: Continent, dtype: object

In [15]:
df

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309683,ZWE,Africa,Zimbabwe,2023-05-06,264685.0,0.0,0.857,5686.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309684,ZWE,Africa,Zimbabwe,2023-05-07,264685.0,0.0,0.286,5686.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309685,ZWE,Africa,Zimbabwe,2023-05-08,264776.0,91.0,13.000,5689.0,3.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309686,ZWE,Africa,Zimbabwe,2023-05-09,264776.0,0.0,13.000,5689.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309687,ZWE,Africa,Zimbabwe,2023-05-10,264776.0,0.0,13.000,5689.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [16]:
imputer = SimpleImputer(strategy='most_frequent')

In [17]:
df1=imputer.fit_transform(df['Continent'].values.reshape(-1, 1))

In [18]:
df['Continent']= imputer.transform(df1)

In [19]:
df['Continent'].isnull().sum()

0

In [20]:
df

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309683,ZWE,Africa,Zimbabwe,2023-05-06,264685.0,0.0,0.857,5686.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309684,ZWE,Africa,Zimbabwe,2023-05-07,264685.0,0.0,0.286,5686.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309685,ZWE,Africa,Zimbabwe,2023-05-08,264776.0,91.0,13.000,5689.0,3.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309686,ZWE,Africa,Zimbabwe,2023-05-09,264776.0,0.0,13.000,5689.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309687,ZWE,Africa,Zimbabwe,2023-05-10,264776.0,0.0,13.000,5689.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [21]:
df['Continent'].describe()

count     309688
unique         6
top       Africa
freq       84492
Name: Continent, dtype: object

In [22]:
df3 = df.groupby(['Date','Country',])[['Date','Country','total_cases','total_deaths','total_vaccinations']].sum().reset_index()

/var/folders/z_/qp8623510vndrxydtkwtx4r40000gn/T/ipykernel_4848/1942843448.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df3 = df.groupby(['Date','Country',])[['Date','Country','total_cases','total_deaths','total_vaccinations']].sum().reset_index()

In [23]:
df3

,Date,Country,total_cases,total_deaths,total_vaccinations
0,2020-01-01,Argentina,0.0,0.0,0.000000e+00
1,2020-01-01,Mexico,0.0,0.0,0.000000e+00
2,2020-01-02,Argentina,0.0,0.0,0.000000e+00
3,2020-01-02,Mexico,0.0,0.0,0.000000e+00
4,2020-01-03,Afghanistan,0.0,0.0,0.000000e+00
...,...,...,...,...,...
309683,2023-05-14,Serbia,0.0,0.0,0.000000e+00
309684,2023-05-14,South America,0.0,0.0,9.568578e+08
309685,2023-05-14,Upper middle income,0.0,0.0,5.415310e+09
309686,2023-05-14,Uruguay,0.0,0.0,9.019938e+06
309687,2023-05-14,World,0.0,0.0,1.338145e+10

يقوم ب انشاء داتا فريم جديده ويقوم ب وضع ناتج جمع المعلومات  الجداول ويقوم بترتيب البيانات حسب الفهرس

In [24]:
df

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309683,ZWE,Africa,Zimbabwe,2023-05-06,264685.0,0.0,0.857,5686.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309684,ZWE,Africa,Zimbabwe,2023-05-07,264685.0,0.0,0.286,5686.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309685,ZWE,Africa,Zimbabwe,2023-05-08,264776.0,91.0,13.000,5689.0,3.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309686,ZWE,Africa,Zimbabwe,2023-05-09,264776.0,0.0,13.000,5689.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
309687,ZWE,Africa,Zimbabwe,2023-05-10,264776.0,0.0,13.000,5689.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [25]:
df['total_cases'].dtypes

dtype('float64')

In [26]:
df['total_deaths'].dtypes

dtype('float64')

In [27]:
df['total_vaccinations'].dtypes

dtype('float64')

In [28]:
imputer = SimpleImputer(strategy='mean') 
df1=imputer.fit_transform(df['total_cases'].values.reshape(-1, 1))
df['total_cases']= imputer.transform(df1)

In [29]:
df['total_cases']

0         5.720062e+06
1         5.720062e+06
2         5.720062e+06
3         5.720062e+06
4         5.720062e+06
              ...
309683    2.646850e+05
309684    2.646850e+05
309685    2.647760e+05
309686    2.647760e+05
309687    2.647760e+05
Name: total_cases, Length: 309688, dtype: float64

In [30]:
df['total_cases'].mean()

5720061.700672814

In [31]:
imputer = SimpleImputer(strategy='mean') 
df1=imputer.fit_transform(df['total_deaths'].values.reshape(-1, 1))
df['total_deaths']= imputer.transform(df1)

In [32]:
df['total_deaths'].isnull().sum()

0

In [33]:
df['total_deaths']

0         80345.784031
1         80345.784031
2         80345.784031
3         80345.784031
4         80345.784031
              ...
309683     5686.000000
309684     5686.000000
309685     5689.000000
309686     5689.000000
309687     5689.000000
Name: total_deaths, Length: 309688, dtype: float64

In [34]:
df['total_deaths'].mean()

80345.78403089619

In [35]:
imputer = SimpleImputer(strategy='mean') 
df1=imputer.fit_transform(df['total_vaccinations'].values.reshape(-1, 1))
df['total_vaccinations']= imputer.transform(df1)

In [36]:
df['total_vaccinations'].isnull().sum()

0

In [37]:
df['total_vaccinations']

0         3.765466e+08
1         3.765466e+08
2         3.765466e+08
3         3.765466e+08
4         3.765466e+08
              ...
309683    3.765466e+08
309684    3.765466e+08
309685    3.765466e+08
309686    3.765466e+08
309687    3.765466e+08
Name: total_vaccinations, Length: 309688, dtype: float64

In [38]:
df['total_vaccinations'].isnull().sum()

0

In [39]:
df['total_vaccinations'].mean()

376546624.8981278

In [40]:
df3

,Date,Country,total_cases,total_deaths,total_vaccinations
0,2020-01-01,Argentina,0.0,0.0,0.000000e+00
1,2020-01-01,Mexico,0.0,0.0,0.000000e+00
2,2020-01-02,Argentina,0.0,0.0,0.000000e+00
3,2020-01-02,Mexico,0.0,0.0,0.000000e+00
4,2020-01-03,Afghanistan,0.0,0.0,0.000000e+00
...,...,...,...,...,...
309683,2023-05-14,Serbia,0.0,0.0,0.000000e+00
309684,2023-05-14,South America,0.0,0.0,9.568578e+08
309685,2023-05-14,Upper middle income,0.0,0.0,5.415310e+09
309686,2023-05-14,Uruguay,0.0,0.0,9.019938e+06
309687,2023-05-14,World,0.0,0.0,1.338145e+10

In [41]:
df4 =df3[df3['total_deaths'] >= 1000000]['Country']

In [42]:
df4.head()

62922    World
63174    World
63426    World
63678    World
63930    World
Name: Country, dtype: object

In [43]:
df5 =df3[df3['total_deaths'] > 1000000]['Country'].count()

In [44]:
df5

6700

In [46]:
df.isnull().sum()

ISO_code                                        0
Continent                                       0
Country                                         0
Date                                            0
total_cases                                     0
                                            ...
population                                      0
excess_mortality_cumulative_absolute       299019
excess_mortality_cumulative                299019
excess_mortality                           299019
excess_mortality_cumulative_per_million    299019
Length: 65, dtype: int64